@using Aurelia.App.Models;
@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<br/> <br/>
<div class = "row">
    @foreach (var product in Model)
    {
        <div class = "col-4" >
            <div class ="card mb-4" style="background-color:#1f2833;">
                <div class ="card-header" >
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size: 23px;color:#66fcf1">@product.ProductName</label>
                    </h4>
                </div>
                <img src="~/images/@product.Image" alt="Card Image" class="card-img-top" style="height:400px;" />
                 <h5 class="my-0 font-weight-normal">
                        <label style="font-size: 20px; color:#66fcf1">Price: @product.Price.ToString("0.00")</label>
                 </h5>
            </div>
            </div>
    }
</div>