<div style="text-align: center; margin-top:100px">
    <h1>Empty shopping cart</h1>
    <h5>Add a product before you continue</h5>
    <a class="btn" style="background-color:#1f2833;color: #66fcf1;" asp-controller="Home" asp-action="Index"> Back to home page</a>
</div>
