html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-brand {
    color: #094b65;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*position: fixed;*/
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: -20px;
}


.customBTN {
    text-align:right;
}

table tr:hover {
    background-color: #c5c6c7;
}
table td {
    color: white;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.option {
    background-color:red;
}

.col-xs-5 {
    /*width: 41.66666667%;*/
    /*background-color: aqua;*/
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 0;
}
.customH1 {
    position: absolute;
    top: 15%;  
}

.content {
    position: absolute;
    top: 22%;
    float: left;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    text-align: left;
    left:45%;
}

.col-xs-6 {
    /*width: 41.66666667%;*/
    /*background-color: aqua;*/
    margin-left: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 0;
    position: absolute;
    top: 22%;
}