html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-brand {
    color: #094b65;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*position: fixed;*/
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: -20px;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 8px;
    line-height: 55px;
    width: 170%;
}

.customBTN {
    text-align:right;
}

table tr:hover {
    background-color: #c5c6c7;
}
table td {
    color: white;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.option {
    background-color:red;
}

.col-xs-5 {
    /*width: 41.66666667%;*/
    /*background-color: aqua;*/
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 0;
}
.customH1 {
    position: absolute;
    top: 15%;  
}

.content {
    position: absolute;
    top: 22%;
    float: left;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    text-align: left;
    left:45%;
    font-size:15px;
}

.col-xs-6 {
    /*width: 41.66666667%;*/
    /*background-color: aqua;*/
    margin-left: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 0;
    position: absolute;
    top: 22%;
}
.myinput {
    
    
    border-radius: 3px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.navbar a:hover {
    background: #745c9c;
    color: black;
}
.container#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 830px;
    object-fit: contain;
    padding:50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
}
#popup.active {
    top:50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}




